You will need to create a service that handles a lottery system

Requirements are:
- The service will allow anyone to register as a lottery participant.
- Lottery participants will be able to submit as many lottery ballots for any lottery that isn’t yet finished.
- Each day at midnight the lottery event will be considered closed and a random lottery winner will be selected from all participants for the day.
- All users will be able to check the winning ballot for any specific date.
- The service will have to persist the data regarding the lottery.

Be creative and do not limit yourself by those requirements: use this exercise to show us what you can do best and what you are passionate about. Let us know if the requirements are not clear or if you have any questions.

DB Model:
	User:
	-Id
	-Name
	-mail?
	
	Ballot:
	-Id
	-Winner (bool)
	-fk_user
	-fk_lottery	
	
	Lottery:
	-Id
	-Date
	
Architecture:
	Docker:
	-Container 1: PostgreSQL
	-Container 2: API (Node)
	-Container 3: Frontend
	
API Methods:
	 - Register OK
	 - Login kindaOK
	 - Logout
	 - GetBallots OK
	 - CheckWinner OK
	 
Server Methods:
	 - DrawLottery
	 
TODO:
	Fix npm install
	Change connection between containers - DONE
	Check how to login through a node API
	Check how to secure password throug a node API
	Might move the SQL queries to another service or a data access layer not created yet
	Might change the services distribution by model and how they are called
	Might want to create n ballots in one call
